# Begin hotlink protection #
RewriteEngine on
RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http://mpletcher.com/.*$ [NC]
RewriteCond %{HTTP_REFERER} !^http://www.mpletcher.com/.*$ [NC]
RewriteCond %{HTTP_REFERER} !^http://mpletchercom.fatcow.com/.*$ [NC]
RewriteCond %{HTTP_REFERER} !^http://www.mpletchercom.fatcow.com/.*$ [NC]
RewriteRule .(gif|jpg|png)$ - [F]
# End hotlink protection #



# Force www #
RewriteEngine On
RewriteCond %{HTTP_HOST} !^$
RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteCond %{HTTPS}s ^on(s)|
RewriteRule ^ http%1://www.%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
